<h1>Formulario de ingreso</h1>
<form action="/api/productos" method="post">
    <div>
        <label for="nombre">Title</label>
        <input type="text" name="title" placeholder="Ingrese el nombre">
    </div>
    <div>
        <label for="precio">Precio</label>
        <input type="number" name="price" placeholder="Ingrese el precio">
    </div>
    <div>
        <label for="url">URL</label>
        <input type="url" name="thumbnail" placeholder="Ingrese la URL">
    </div>
    
    <button>Enviar</button>
</form>

<a href="/api/productos"> <button> Ver productos </button> </a>